{{- if or (eq .Values.fluentBit.output.type "splunk") (eq .Values.fluentBit.output.type "datadog") (eq .Values.fluentBit.output.type "elasticsearch") }}
{{- $hasStreamWorker := false }}
{{- range .Values.clusters }}
  {{- if has "stream" .roles }}
    {{- $hasStreamWorker = true }}
  {{- end }}
{{- end }}
{{- if $hasStreamWorker }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "log10x-streamer.fullname" . }}-fluent-secrets
  labels:
    {{- include "log10x-streamer.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if eq .Values.fluentBit.output.type "splunk" }}
  {{- if .Values.fluentBit.output.config.splunk.token }}
  splunk-token: {{ .Values.fluentBit.output.config.splunk.token | b64enc | quote }}
  {{- else }}
  splunk-token: ""  # Must be provided via --set-string fluentBit.output.config.splunk.token=<token>
  {{- end }}
  {{- else if eq .Values.fluentBit.output.type "datadog" }}
  {{- if .Values.fluentBit.output.config.datadog.apiKey }}
  datadog-api-key: {{ .Values.fluentBit.output.config.datadog.apiKey | b64enc | quote }}
  {{- else }}
  datadog-api-key: ""  # Must be provided via --set-string fluentBit.output.config.datadog.apiKey=<key>
  {{- end }}
  {{- else if eq .Values.fluentBit.output.type "elasticsearch" }}
  {{- if .Values.fluentBit.output.config.elasticsearch.httpUser }}
  elasticsearch-user: {{ .Values.fluentBit.output.config.elasticsearch.httpUser | b64enc | quote }}
  {{- else }}
  elasticsearch-user: ""  # Must be provided via --set-string fluentBit.output.config.elasticsearch.httpUser=<user>
  {{- end }}
  {{- if .Values.fluentBit.output.config.elasticsearch.httpPasswd }}
  elasticsearch-password: {{ .Values.fluentBit.output.config.elasticsearch.httpPasswd | b64enc | quote }}
  {{- else }}
  elasticsearch-password: ""  # Must be provided via --set-string fluentBit.output.config.elasticsearch.httpPasswd=<password>
  {{- end }}
  {{- end }}
{{- end }}
{{- end }}
